.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0px 30px;
    font-size: 48px;
    font-weight: 600;
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 80px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 48px;
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    color: #D8D8D8;
    font-size: 18px;
    line-height: 1.6;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #D8D8D8;
    font-size: 18px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
}

.contact-right input {
    width: 100%;
    max-width: 450px;
    border: none;
    height: 60px;
    padding-left: 20px;
    border-radius: 4px;
    background: #323232;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 18px;
}

.contact-right textarea {
    width: 100%;
    max-width: 450px;
    border: none;
    padding: 20px;
    border-radius: 4px;
    background: #323232;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 18px;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DB8908 -5.09%, #B415FF 100%);
    font-size: 18px;
    padding: 15px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.05);
    transition: 0.3s;
}