.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    padding: 0 20px;
}

.navbar img {
    width: 40px; /* Tambahkan ukuran untuk logo */
    height: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    cursor: pointer;
    transition: color 0.3s;
}

.nav-menu li:hover {
    color: #B415FF; /* Efek hover */
}

.nav-connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    white-space: nowrap;
    border: none;
    color: white;
    font-weight: 500;
}

.nav-connect:hover {
    transform: scale(1.05);
}