.navbar {
    display: flex;  
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100    ;
}

.navbar img {
    width: 40px; /* Tambahkan ukuran untuk logo */
    height: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 16px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-menu li {
    cursor: pointer;
    transition: color 0.3s;
}

.nav-menu li:hover {
    color: #B415FF; /* Efek hover */
}

.nav-connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    white-space: nowrap;
    border: none;
    color: white;
    display: flex;
    align-items: right;
}

.nav-connect:hover {
    transform: scale(1.05);
}