@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #161513;
  color: white;
  font-family: 'Roboto', sans-serif;
}